{{#with item.data}}
<div class="row link-row">
    <div class="col-md-2 col-xs-12">
        {{#if thumbnail}}
        <a {{bind-attr href="url"}}><img {{bind-attr src="thumbnail"}}/></a>
        {{else}}
        <a {{bind-attr href="url"}}>{{link-image thumbnail}}</a>
        {{/if}}
    </div>
    <div class="col-md-10 col-xs-12">

        <h4><a {{bind-attr href="url"}}>{{{title}}}</a></h4>
        <p class="text-muted">
            {{#link-to 'subreddit' subreddit}}<span class="btn btn-xs btn-primary"><i class="fa fa-folder"></i> {{subreddit}}</span>{{/link-to}} &nbsp;|&nbsp; 
            <span class="btn btn-xs btn-default disabled"><i class="fa fa-globe"></i> {{domain}}</span> &nbsp;|&nbsp; 
            <span class="btn btn-xs btn-default disabled"><i class="fa fa-user"></i> {{author}}</span> &nbsp;|&nbsp;
            {{#link-to 'comment' id}}
            <span class="btn btn-xs btn-primary">
                <i class="fa fa-comment"></i> {{num_comments}}
            </span>
            {{/link-to}}
        </p>
    </div>
</div>
<hr>
{{/with}}

